body {
  padding-top: 50px;
}

/*
#app {
  font-family: 'Source Sans Pro', 'Helvetica';
}
*/

/* Header */
#app .navbar {
  border: 1px solid black;
}

#app .Header .navbar-brand {
  color: #000000;
}

/* CategoryBar */
#app .CategoryBar {
  /*border: 1px solid blue;*/
  display: block;
  text-align: center;
}

@media (min-width: 0px) and (max-width: 630px) {
  #app .CategoryBar .btn{
    margin: 10px 5px 2px 5px;
  }

  #app .CategoryBar {
    width: 375px;
    margin: 0 auto 10px auto;
  }
}

@media (min-width: 630px) {
  #app .CategoryBar .btn{
    margin: 10px 5px;
  }
}

#app .CategoryBar .btn{
  font-size: 14px;
  padding: 5px 15px;
  text-align: left;
  border-radius: 15px;
}

/* SearchBar */

@media (min-width: 0px) and (max-width: 992px){
  #app .SearchBar .input-group {
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  #app .SearchBar .input-group {
    margin: 0 5px 0 auto;
  }
}

#app .SearchBar .input-group {
  width: 90%;
}  

#app .SearchBar .input-group-addon {
  background-color: transparent;
  border: none;
  padding-right: 4px;
}

#app .SearchBar .form-control {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  padding-left: 6px;
  box-shadow: none;
}

/* MapDisplay */
#app .MapDisplay {
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px; 
}

#app .MapDisplay .col-md-6  {
  padding: 15px;
}

/* RegionList */
@media (min-width: 0px) and (max-width: 992px){
  #app .RegionList {
    padding: 10px;
    text-align: center;
  }
}

@media (min-width: 992px) {
  #app .RegionList {
    text-align: right;
    padding-left: 30px;
  }
}

#app .RegionList .btn{
  font-size: 14px;
  padding: 5px 15px;
  text-align: left;
  border-radius: 15px;
  margin: 5px 5px;
  font-size: 12px;
}

/* JakartaMap */
@media (min-width: 614px) and (max-width: 992px){
  #app .JakartaMap {
    width: 600px;
    margin: 0 auto;
  }  
}

@media (min-width: 992px) and (max-width: 1240px){
  #app .JakartaMap {
    width: 500px;
  }  
}

@media (min-width: 1240px) {
  #app .JakartaMap {
    width: 610px;
  }  
}

#app .JakartaMap path {
  stroke-width: 3px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

#app .JakartaMap path:hover {
  fill: #FF8383;
  /*stroke: #000000;*/
}

/* DataDisplay */
#app .DataDisplay .container {
  margin: 15px auto 0 auto;
} 

@media (min-width: 0px) and (max-width: 992px) {
  #app .DataDisplay .container {
    width: 95%;
  }  
}

@media (min-width: 992px) {
  #app .DataDisplay .container {
    width: 85%;
  }  
}

/* ComparisonBar */
#app .ComparisonBar {
  /*border: 1px solid blue;*/
}

#app .ComparisonBar .btn{
  font-size: 14px;
  padding: 5px 15px;
  text-align: left;
  border-radius: 15px;
  margin: 5px 5px 5px 0px;
}

/* Title */
@media (min-width: 992px) {
  #app .Title {
    font-size: 24px
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  #app .Title {
    font-size: 18px
  }
}

#app .Title {
  color: #FF8383;
  font-size: 18px;
  font-weight: lighter;
  /*border: 1px solid blue;*/
  border-radius: 0;
}

/* Graphic */
#app .Graphic {
  padding: 10px;
  margin: 0 0 100px 0;
  /*border: 1px solid #FF8383;*/
  display: inline-block;
}

#app .Graphic:hover {
}

/* BarChart */
#app .BarChart {
  padding: 10px;
}
